<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <script src="/script.js" defer></script>
    <title>Blog</title>
</head>
<body>
    <div class="hero">
        <%- include("partials/header.ejs") %>
        <div class="hero-image">
            <div class="hero-text">
                <h1>
                    Mockup Blog
                </h1>
                <p class>
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
        <div class="categories">
            <div class="categories-text">
                <h1>Categories</h1>
                <p>Explore articles organized by
                    content and popular tags.</p>
            </div>
            <ul class="categories-grid">
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/857/857470.svg" alt="" width="100%">
                        </div>
                        
                        <div class="cardtext-container">
                            <h3>Inspiration</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/648/648176.svg" alt="" width="100%">
                        </div>
                        
                        <div class="cardtext-container">
                            <h3>Tutorials</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/900/900772.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Trends</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/1243/1243560.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Business</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/631/631180.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Finance</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/3010/3010762.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Community</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/2755/2755537.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Contest</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid-item">
                        <div class="cardimg-container">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/553/553932.svg" alt="" width="100%">
                        </div>
                        <div class="cardtext-container">
                            <h3>Shop</h3>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="posts">
            <ul>
                <li>
                    <div class="post">
                        <img src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" width="100%">
                        <div class="ctg">
                            <span class="ctg-ctg"> Category </span>
                            <span class="span">|</span>
                            <span >
                                <time> Date </time>
                            </span>
                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                            <span>Author</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post">
                        <img src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" width="100%">
                        <div class="ctg">
                            <span class="ctg-ctg"> Category </span>
                            <span class="span">|</span>
                            <span >
                                <time> Date </time>
                            </span>
                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                            <span>Author</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post">
                        <img src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" width="100%">
                        <div class="ctg">
                            <span class="ctg-ctg"> Category </span>
                            <span class="span">|</span>
                            <span >
                                <time> Date </time>
                            </span>
                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                            <span>Author</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</body>
</html>